#rondaActual{
    background-color: burlywood;
}

.numPartidas{
    background-color: aqua;
}

.numHumanos{
    background-color: rgb(194, 162, 224);
}

.empezarJuego{
    background-color: black;
    color: white;
}

.PiezasJ1{/*Estilo de las piezas del jugador 1*/
    display: flex;
    padding:0;
    margin:0;
}

.PiezasJ2{/*Estilo de las piezas del jugador 2*/
    position: absolute;
    right: 43%;
}

.PiezasJ3{/*Estilo de las piezas del jugador 3*/
    position: absolute;
    right: 1%;
}

.Manos{/*Estilo de las manos*/
    position: absolute;
    left: 40%;
}

.Jugador1{/*Estilo del jugador 1*/
    display: flex;
    padding:0;
    margin:0;
}

.FichaEsperarTurno{/*Estilo de esperar turno*/
    position: absolute;
    left: 45%;
}

.Jugador2{/*Estilo del jugador 2*/
    position: absolute;
    right: 48%;
}

.Jugador3{/*Estilo del jugador 3*/
    position: absolute;
    right: 1%;
}

.VictoriasJ2{/*Estilo de la victoria del jugador 2*/
    position: absolute;
    right: 47%;
}

.VictoriasJ3{/*Estilo de la victoria del jugador 3*/
    position: absolute;
    right: 1%;
}

/*.FichaJugador1{
    background-color: red;
}*/

.VictoriasJ2{/*Estilo de la victoria del jugador 2*/
    position: absolute;
    right: 47%;
}

.VictoriasJ3{/*Estilo de la victoria del jugador 3*/
    position: absolute;
    right: 1%;
}